<?xml version="1.0" encoding="utf-8"?>
<!-- Web.config for dispatchOfficeWeb (dc test comment)-->
<configuration>
	<configSections>
	<config>Updated after taking stash in local </config>
		<section name="syscache" type="NHibernate.Caches.SysCache.SysCacheSectionHandler,NHibernate.Caches.SysCache" />
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
		<section name="databaseSettings" type="System.Configuration.NameValueSectionHandler" />
		<sectionGroup name="spring">
			<section name="context" type="dispatchOfficeWeb.MvcAppCode.Context.Impl.MvcWebContextHandler, dispatchOfficeWeb" />
			<section name="parsers" type="Spring.Context.Support.NamespaceParsersSectionHandler, Spring.Core" />
		</sectionGroup>
		<section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
		<sectionGroup name="telerik.web.ui">
			<section name="radCompression" type="Telerik.Web.UI.RadCompressionConfigurationSection, Telerik.Web.UI, PublicKeyToken=121FAE78165BA3D4" allowDefinition="MachineToApplication" requirePermission="false" />
		</sectionGroup>
	</configSections>
	
				<add name="DoWebRoleProvider" type="Spring.Web.Providers.RoleProviderAdapter, Spring.Web" />
		
	</system.serviceModel>
	<stash>this is change from browser</stash>
	<Merge>this is change from browser</Merge>
</configuration>  
