<?xml version="1.0" encoding="utf-8"?>
<!-- Web.config for dispatchOfficeWeb (dc test comment)-->
<configuration>
	<configSections>
		<section name="syscache" type="NHibernate.Caches.SysCache.SysCacheSectionHandler,NHibernate.Caches.SysCache" />
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
		<section name="databaseSettings" type="System.Configuration.NameValueSectionHandler" />
		<sectionGroup name="spring">
			<section name="context" type="dispatchOfficeWeb.MvcAppCode.Context.Impl.MvcWebContextHandler, dispatchOfficeWeb" />
			<section name="parsers" type="Spring.Context.Support.NamespaceParsersSectionHandler, Spring.Core" />
		</sectionGroup>
		<section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
		<sectionGroup name="telerik.web.ui">
			<section name="radCompression" type="Telerik.Web.UI.RadCompressionConfigurationSection, Telerik.Web.UI, PublicKeyToken=121FAE78165BA3D4" allowDefinition="MachineToApplication" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<syscache>
		<cache region="LongTermReadOnly" expiration="86400" priority="5" />
		<cache region="LongTermReadWrite" expiration="43200" priority="6" />
		<cache region="ShortTermReadWrite" expiration="3600" priority="4" />
		<cache region="VeryShortTermReadWrite" expiration="120" priority="3" />
		<cache region="UltraShortTermReadOnly" expiration="15" priority="5" />
	</syscache>
	<log4net>
		<appender name="Console" type="log4net.Appender.ConsoleAppender">
			<layout type="log4net.Layout.PatternLayout">
				<param name="ConversionPattern" value="%d [%t]: %m%n" />
			</layout>
		</appender>
		<appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
			<param name="File" value="logs\dispatchOfficeWeb.log" />
			<param name="AppendToFile" value="true" />
			<param name="RollingStyle" value="Composite" />
			<param name="MaximumFileSize" value="50MB" />
			<param name="MaxSizeRollBackups" value="31" />
			<param name="StaticLogFileName" value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<param name="ConversionPattern" value="%d %-5level [%c - (%t)]: %m%n" />
			</layout>
		</appender>
		<appender name="DB" type="log4net.Appender.AdoNetAppender">
			<bufferSize value="3" />
			<reconnectOnError value="true" />
			<connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
			<commandText value="EXEC WriteLog @module_pkey=5, @Severity=@log_severity, @MachineName=@hostname, @ProcessID=@pid, @ProcessName=@proc_name, @ThreadName=@thread, @Message=@msg;">
			</commandText>
			<parameter>
				<parameterName value="@log_severity" />
				<dbType value="String" />
				<size value="20" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%level" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="@hostname" />
				<dbType value="String" />
				<size value="32" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%property{log4net:HostName}" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="@pid" />
				<dbType value="Int32" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%property{pid}" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="@proc_name" />
				<dbType value="String" />
				<size value="512" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%property{proc_name}" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="@thread" />
				<dbType value="String" />
				<size value="512" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%thread" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="@msg" />
				<dbType value="String" />
				<size value="1500" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%message" />
				</layout>
			</parameter>
		</appender>
		<!-- This section controls the NHibernate Logging -->
		<logger name="NHibernate">
			<level value="WARN" />
		</logger>
		<logger name="NHibernate.SQL">
			<level value="WARN" />
		</logger>
		<root>
			<level value="WARN" />
			<!-- Should typically be 'WARN' -->
			<appender-ref ref="Console" />
			<appender-ref ref="RollingFile" />
			<appender-ref ref="DB" />
		</root>
	</log4net> 
	<connectionStrings>
		<add name="CSVImport" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};Extended Properties='text;HDR=Yes;FMT=(,)';" />
	</connectionStrings>
    
	<!-- ***** APPLICATION SETTINGS ***** -->
	<appSettings>

    <!-- SYSTEM SETTINGS -->
		<add key="BundlingOptimizationEnabled" value="false" />
		<!-- 
      When HtmlResourceAlternateDomainUrlEnabled is enabled, make sure HtmlResourceAlternateDomainUrlPool is populated
      HtmlResourceAlternateDomainUrlPool needs to be list of urls seperate by semicolon.
      
        example: http://subdomain1.domain:port;http://subdomain2.domain:port;
      
      make sure those domains are also included in header entry 'Access-Control-Allow-Origin' it can be done by 
      populating following to appropriate location:
      
        <system.webServer>
          <httpProtocol>
            <customHeaders>
              <add name="Access-Control-Allow-Origin" value="http://domain:port" />
            </customHeaders>
          </httpProtocol>
        </system.webServer>      
      
    -->
		<add key="HtmlResourceAlternateDomainUrlEnabled" value="false" />
		<add key="HtmlResourceAlternateDomainUrlPool" value="http://a.localhost:3193;http://b.localhost:3193;http://c.localhost:3193" />		
    <!--The value for this key will be replaced by Octopus Deploy at the time of deployment based on the server type-->
    <!--<add key="NewRelic.AppName" value="3p-atl-fe-03.DoWebPortal" />
    <add key="NewRelic.AppName" value="DMSTest.DoWebPortal" />-->
    <add key="NewRelic.AppName" value="#{NewRelic_AppName}" />
		<add key="EnableMiniProfiler" value="false" />
		<add key="MiniProfilerIgnoredPaths" value="/App_Themes/;/images/;/stylesheets/" />
		<add key="Telerik.Skin" value="3PD" />
		<add key="Telerik.EnableEmbeddedSkins" value="false" />
		<add key="DataProvider" value="System.Data.SqlClient" />
		<add key="LogSeverity" value="Error" />
		<!--Comma delimited list of users that can still log in.  Leave blank for normal operations.-->
		<add key="ValidLogins" value="" />
		<add key="RemoveFromURL" value="/dispatchOfficeWeb" />
		<add key="ServerTimeZone" value="Central Standard Time" />
		<add key="ServerTimeZoneShort" value="CT" />
		<add key="MaxFileUploadSize" value="6000000" />
		<add key="SegmentAppointmentStartDateWindow" value="8"/>
		<add key="SegmentAppointmentEndDateWindow" value="20"/>
		
		<!-- Considered in Order entry screen-->
		<add key="TimeWindowDurationHours" value="12"/>
		
		<!-- DASHBOARD SETTINGS -->
		<add key="DashboardSelectedColor" value="LightGray" />
		<!-- Added max widgets(Custom Dashboard) value as multiple of 2 since we are using 2 column layout for now-->
		<add key="MaxAllowedWidgets" value="10" />
		
    <!-- GENERAL ORDER ENTRY SETTINGS  -->
		<add key="DefaultCutoffTime" value="14:01" />
		<add key="PartQtyIdent" value="3" />
		<add key="CallCenterPhone" value="(866) 442-8402" />
    
		<!-- LABEL SETTINGS -->
		<add key="CompanyNameLabel" value="XPO Last Mile" />
    
		<!-- NOTIFICATION OPTIONS SETTINGS -->
		<add key="FAX_FIELD" value="ON" />
		<add key="FAX_TO_EMAIL" value="@faxmaker.com" />
		<add key="EMAIL_ALERT_TO" value="xxxxx" />
    
		<!-- RATING RELATED SETTINGS -->
		<add key="Logging" value="SQL" />
		<add key="PCMiler" value="true" />
    
		<!-- LINE ITEM GRID RELATED SETTINGS -->
		<add key="ComboBoxWidth" value="250" />
    
		<!-- In pixels -->
		<!-- TRACKING SCREEN SETTINGS -->
		<add key="TopXResults" value="500" />
		<add key="DateRangeOffset" value="7" />
		<add key="ExceptionThreshold" value="2" />
		<add key="ExceptionUpperThreshold" value="2" />
		<add key="ExceptionLowerThreshold" value="1" />
		<add key="DateInputWidth" value="100" />
		<add key="TrackingItemsPerPage" value="25" />
		<add key="TrackingPagerPosition" value="Bottom" />
		<add key="TrackingPagerButtonCount" value="10" />

    <!-- ORDER RECAP SETTINGS -->
		<add key="GPSWindow" value="480" />
		<add key="FHUSER2" value="Charge To Consumer" />
		<add key="TIME_SPECIFIC_SERVICES" value="TS" />
		<add key="ACTUAL_DEL_TIME" value="" />
		<add key="TZ_CONVERSION" value="BTADDL" />
		<add key="PREVIEW_PANEL_WIDTH" value="250" />

    <!-- 450 In pixels -->
		<add key="FILEPATH" value=".." />
		<add key="vmvirtpath" value="../voicemails/" />
		<add key="ScheduledServiceDateStatus" value="OPN,ATP,ONB,ATD,CLS,INV" />
    
		<!-- IVR DASHBOARD SETTINGS -->
		<add key="PrecallType" value="1" />
		<add key="SurveyType" value="314" />
		<add key="DashboardRefresh" value="10000" />

    <!-- GOOGLE MAP SETTINGS -->
		<add key="GMAP_CLIENTID" value="gme-xpoenterpriseservices" />
		<add key="GMAP_KEY" value="yZNBGQIXLPJVALTbZHQK6AAMiN4=" />
		<add key="GMAP_PROTOCOL" value="HTTPS" />
		
    <!-- HTTP | HTTPS -->
		<!-- GMAP_DISPLAY = ON | OFF -->
		<add key="GMAP_DISPLAY" value="ON" />
		<add key="GMAP_VERSION" value="3" />
		<!-- Yes | No -->
		<add key="DisplayPickup" value="No" />
		<add key="PinColors" value="FF0000,F4A460,008000,800080,FFFF00,2F4F4F,FF8C00,FFFFFF" />
		<add key="PinImages" value="airport,bicycle,car,home,motorcycle,pickup,delivery,postal,train,truck" />
		<add key="DriverPinColor" value="FF0000" />
		<!-- DriverPinType = image | default -->
		<add key="DriverPinType" value="image" />
		<add key="DriverPinImage" value="truck" />
		<add key="PickupPinColor" value="FFFF00" />
		<!--  PickupPinType = image | default -->
		<add key="PickupPinType" value="image" />
		<add key="PickupPinImage" value="pickup" />
		<add key="DropoffPinColor" value="FFFF00" />
		<!-- DropoffPinType = image | default -->
		<add key="DropoffPinType" value="image" />
		<add key="DropoffPinImage" value="home" />
		<!-- RouteMappingMode = ROADS | default -->
		<add key="RouteMappingMode" value="ROADS" />
    
    <!--SEGMENT SETTINGS-->
    <add key="SegmentAddressUpdateEnabled" value="true" />
		
    <!-- ROUTING SETTINGS-->
		<add key="RouteProvider" value="Appian" />
		<add key="RouteColorCount" value="20" />
    
		<!-- MENU SETTINGS -->
		<add key="RepeatColumns" value="1" />
    <!-- RepeatDirection = Horizontal | Vertical -->
		<add key="RepeatDirection" value="Vertical" />
		
		<!-- REPORTING SETTINGS -->
		<add key="LabelReportName" value="/Client Specific/Store To Home/DoWeb/Reprint Shipping Label" />
		<add key="QuoteReportName" value="/Client Specific/Shared Reports/QuoteShipment" />
		<add key="InvoiceApprovalReportName" value="/3PD Departments/Accounting/Invoice Reports/Review Billing Report" />
		<!-- FILTER MENU SETTINGS -->
		<!-- Available Options
            NoFilter, Contains, DoesNotContain, StartsWith, EndsWith, EqualTo, NotEqualTo, 
            GreaterThan, LessThan, GreaterThanOrEqualTo, LessThanOrEqualTo, Between, 
            NotBetween, IsEmpty, NotIsEmpty, IsNull, NotIsNull 
    -->
		<add key="BillToAssignmentFilterMenu" value="Contains,DoesNotContain,StartsWith,EqualTo,NotEqualTo" />
		<add key="DriverSiteAssignmentFilterMenu" value="Contains,DoesNotContain,StartsWith,EqualTo,NotEqualTo" />
		
    <!-- SURVEY RESPONSE SETTINGS -->
		<add key="SurveyResponseDeadlineMinutes" value="60" />
		<add key="SurveyResponsePagerMode" value="NextPrev" />
		<add key="SurveyResponseItemsPerPage" value="20" />
		<add key="SurveyResponsePagerPosition" value="Bottom" />
		<add key="SurveyResponsePagerButtonCount" value="5" />

    <!-- CONTRACTING SETTINGS -->
		<add key="EnableContracting" value="true" />
		<add key="UseSitePrefixForContracts" value="false" />
		<add key="CloneDriver" value="true" />
		<!-- New option to default new units to a particular unit status.
        This setting must be numeric and correspond to the appropriate DROPDOWNS.pkey record where type = 'UNSTATUS'
    -->
		<add key="ContractingDefUnitStatus" value="348" />
		<!-- Where are we saving the CONTRACT CARRIER images/contracts on the web server.
        Root directory, non-v9web folder - Must include backslash at the end!
    -->
		<add key="ContractCarrierDirectory" value="E:\Project\3PDDirect\dispatchOfficeWeb" />
		<add key="MaxPromNoteTotal" value="5000" />
		<add key="MaxPromNoteInterestRate" value="30" />
		<!-- Deduction Screen Effective Date Offset in Days (The date must be at least X days in the future). Should be a valid Integer -->
		<add key="DeductionEffectiveDateOffsetInDays" value="7" />
		<!-- Deduction Screen Allowed Week Days (Comma Separated, E.g.: 5,6,7). [Sun-0,Mon-1,Tue-2,Wed-3,Thu-4,Fri-5,Sat-6] -->
		<add key="DeductionAllowedEffectiveDateWeekDays" value="5" />
		<!-- 3PD Leased Equipment Unit Charges (weekly payments, maintenance)
      Used in Contract Carriers.  Corresponds to the equipment descriptions found in DROPDOWNS (ddtype='CCEQCLASS')
      Currently 3 settings to support the 3 different equipment descriptions -->
		<add key="CcEquipWkMaint1" value="57.00" />
		<add key="CcEquipWkMaint2" value="79.00" />
		<add key="CcEquipWkMaint3" value="79.00" />
		<!-- Option to include the site prefix in the ID of new contractors: true/false -->
		<add key="ContractIdSitePrefix" value="false" />
		<!-- AspPDF.Net Registration Key -->
		<add key="AspPDF_RegKey" value="GYlbpUla2RtrT0XhSunif/sB0vwCAGVvIsLeiALmjjgOH9n2Jl6HBR2RroMxeAGzLbtl2blecr4v" />
		<add key="SettlementProvider" value="CMS" />
		<add key="EnableSettlementProviderCalls" value="true" />
		<add key="NoReplyMailFrom" value="TEST-DISREGARD-TEST@xpolastmile.com" />
		<add key="CreditApplicationValidator" value="dev-VALIDATOR@xpolastmile.com" />

		<add key="DeclaredValueChangeNotificationRecipients" value="dev-DeclaredValueChange@xpolastmile.com" />
		<!-- added Number of declared value liability days from actual pickup date -->
		<add key="DVLiability" value="120" />
		<add key="SalesForceParameterStringKeysProvider" value="STUB" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
		<add key="Spring.Data.NHibernate.Support.OpenSessionInViewModule.SessionFactoryObjectName" value="NHibernateSessionFactory" />
		<add key="SupportReportURL" value="https://www.3pdonline.com/Custom3pd/Support/SupportReport.aspx?userid={0}&amp;session={1}" />
		<!-- The settings related to 3pd claims - Tina/Deep -->
		<add key="DefaultClaimsManagerId" value="mbarr" />
		<add key="DefaultClaimsAssigneeId" value="mbarr" />
		<add key="ClaimAssignmentNotificationSubscriptionId" value="4569d7c8-f838-4130-9dc6-9053618aa7de" />
		<add key="ClaimExternalNotificationSubscriptionId" value="4569d7c8-f838-4130-9dc6-9053618aa7de" />
		<add key="ClaimInternalNotificationSubscriptionId" value="4569d7c8-f838-4130-9dc6-9053618aa7de" />
		<add key="CanRegister" value="false" />
		<add key="EnableHashedPasswordExpiration" value="false" />
		<add key="PasswordExpiryInDays" value="60" />
		<add key="PasswordExpiryWarningInDays" value="5" />
		<add key="AutoSurveyEmailSubscription" value="fd81b462-091f-4367-84f9-791f5d3c6422" />
		<add key="DirectRateTariffDirectory" value="C:\RatingMaintenanceFiles\" />
		<add key="DirectRateTariffSyncExportLimit" value="15000" />
		<add key="RateChangeMailTo" value="DL-RateChanges@xpolastmile.com" />
		<add key="ZipToHubMileageImportFilePrefix" value="ZiptoHubMileage" />
		<add key="DirectZipSurchargeImportFilePrefix" value="DirectZipSurcharge" />
		<add key="SchedulerLookupFilePath" value="E:\RatingMaintenanceFiles\ImportScheduler\" />
		<add key="DoRestWebServiceUrl" value="http://localhost:2181/" />
		<add key="SingleSignonUrl" value="http://www.xpolastmile.com" />
		<add key="SingleSignonLogoutPage" value="home" />
		<add key="UserActivityEnabled" value="true" />
		<add key="MaxUserActivitiesCount" value="20" />
		<add key="SVNVersion" value="#lastrevisionnumber#" />
		<add key="ClaimNotificationDefaultToEmailIDs" value="" />
		<add key="ClaimNotificationDefaultBccEmailIDs" value="" />

		<!-- Setting for Lowes/Sears Hometown and Outlet specific survey questionnaire. Names should be match with name columns of [questionnaire].[Questionnaire] table -->
		<add key="SurveyFirstQuestionnaireName" value="Survey Part 1" />
		<add key="SurveySecondQuestionnaireName" value="Survey Part 2" />

		<add key="AssignPartsToMasterBillTo" value="true" />
		<add key="AppianWebApiSerialNumber" value="1232-PNMX-593Z" />
		<add key="GoogleAnalyticsAccountId" value="UA-43284908-1" />
		<add key="GoogleAnalyticsUniversalAccountId" value="UA-43317305-1" />
		<add key="GoogleAnalyticsDomainName" value="none" />
		<add key="GoogleAnalyticsKeywoardDimentionIndex" value="2" />
		<add key="GoogleAnalyticsAdvSearchJsonDimentionIndex" value="3" />
		<add key="EnableChangeDataCapture" value="true" />
		<add key="StoreEscalationImageDirectory" value="http://dw.3pd.com/MicrostrategyMobile/" />
		<add key="EnableNHCode_GetPendingOutboundCalls" value="false" />
		<add key="EnableNHCode_UpdateCall" value="false" />
		<add key="EnableNHCode_JobAlertsSummary" value="false" />
		<add key="EnableNHCode_GetRoutesFor" value="false" />
		<add key="EnableNHCode_GetAllByBillToIDAndBusinessCategories" value="false" />
		<add key="EnableNHCode_GetJobsFor" value="false" />
		<add key="EnableNHCode_GenerateForField" value="false" />
		<add key="EnableNHCode_SurveyResponseRequiredKeywordSearch" value="false" />
		<add key="EnableNHCode_ExecuteAdvancedSearch_Route" value="false" />
    	<add key="EnableNHCode_ExecuteAdvancedSearch_Shipment" value="true" />
    	<add key="EnableStoredProc_ExecuteAdvancedSearch_Shipment" value="true" />


		<!-- Bellow is a setting that is not boolean but tri-state setting the values are
         NH: The old NH code path will be chosen
         fcMdtFlat: The code path with SP and all derived information picked up from views will be chosen
         XLMFlat: The code path with SP and all derived information picked up from flat tables will be chosen.
         
        
    -->
		<add key="CodePathTakenFor_BuildRouteDetailInformation" value="xlmFlat" />
    <add key="CodePathTakenFor_BuildRouteOverviewData" value="xlmFlat" />
    <add key="CodePathTakenFor_BuildRouteMapInformationFor" value="xlmFlat" />
    <add key="CodePathTakenFor_AddShipmentToRoute_ComputeMilesOffline" value="true" />
    
		<add key="ContractorImageThumbnailPrefix" value="" />
		<add key="ContractorImageThumbnailPath" value="" />
		<add key="SendRequestToPts_DoNotCheckInLocal" value="false" />
		<add key="GiftCard_IncrementValue" value="25" />
		<add key="GiftCard_MiddleValue" value="400" />
		<add key="GiftCard_MaxValue" value="1000" />
		<add key="PasswordPolicyRolloutDate" value="2015/05/21" />
		<add key="WPressCorpsiteFormsUrl" value="https://desktop.xpolastmile.com/wpresscorpsiteforms/" />
  
    <!-- Billing and Settlement  -->
    <add key="UseNewFinanceModule" value="true" />

    <!-- Route Dispatch Using Service Broker  -->
    <add key="UseServiceBrokerForRouteDispatch" value="true" />

    <!-- Route Chat  -->
    <add key="EnableChat" value="true" />
    <add key="FirebaseAccount" value="resplendent-fire-1942" />
    <add key="FirebaseApiKey" value="AIzaSyD7SsgjMgO31z7zWDpKZcoa3g9WKc9fTn8" />
    <add key="FirebaseSecretKey" value="JRWXqYvaauTirvzrwQZBQdiX25ET7RaBDnsZb42h" />
    <add key="FirebaseCertificateName" value="firebasePrivateCertificate-test.p12" />
    
    <!--Route Management-->
    <add key="EnableRouteManagement" value="#{EnableRouteManagement}"/>
    <add key="RouteImportWebServiceURL" value="http://localhost/api/xpo/json/GetRouteImport"/>
    <add key="RouteImportFilePath" value="D:\sites\atlanta\Appian\RouteManagement"/>

    <!--Display download work packet url on segment details popup: SB-3957-->
    <add key="DisplayWorkPacketUrlOnSegmentPopUp" value="false" />

    <!-- Helios DB    
    <add key="DB_Connection_FC_MDT" value="Data Source=192.168.1.24\sqlserver2008;Initial Catalog=fc_mdt_helios;User Id=SQLConnect;Password=Pench2006;" />
    <add key="DB_Connection_Replication" value="Data Source=192.168.1.24\sqlserver2008;Initial Catalog=fc_mdt_helios;User Id=SQLConnect;Password=Pench2006;" />
    <add key="DB_Connection_FC_MDT_2014" value="Data Source=192.168.1.24\sqlserver2008;Initial Catalog=XLM_DMS_helios;User Id=SQLConnect;Password=Pench2006;" />
    <add key="DB_Connection_XLM_FinanceOrder" value="Data Source=192.168.1.24\sqlserver2008;Initial Catalog=XLM_FinanceOrder_helios;User Id=SQLConnect;Password=Pench2006;" />
    <add key="DB_Connection_XLM_Ledger" value="Data Source=192.168.1.24\sqlserver2008;Initial Catalog=XLM_Ledger_helios;User Id=SQLConnect;Password=Pench2006;" />
    <add key="DB_Connection_Change_Data_Capture" value="Data Source=192.168.1.208;Initial Catalog=XLM_Replication_helios;User Id=SQLConnect;Password=Pench2006;" />
    <add key="DB_Connection_XLM_Routing" value="Data Source=192.168.1.24\sqlserver2008;Initial Catalog=XLM_Routing_helios;User Id=SQLConnect;Password=Pench2006; " />
    <add key="DB_Connection_XLM_Capacity" value="Data Source=192.168.1.24\sqlserver2008;Initial Catalog=XLM_Capacity_Helios;User Id=SQLConnect;Password=Pench2006; " />
    
    <add key="CapacityManagement_Host_Url" value="http://192.168.1.96:8099/xpo/"/>
    <add key="XPOFramework_WebAPI_Host" value="http://192.168.1.96:8099/xpo/" /> -->


    <!-- Veda -->
    <add key="DB_Connection_FC_MDT" value="Data Source=192.168.1.50;Initial Catalog=fc_mdt;User Id=SQLConnect;Password=806DD932A3959105B2CD88BAC17DA4D20DD56839D3E7F8842EC1DE05CE6C791D;"/>
    <add key="DB_Connection_FC_MDT_2014" value="Data Source=192.168.1.50;Initial Catalog=XLM_DMS;User Id=SQLConnect;Password=806DD932A3959105B2CD88BAC17DA4D20DD56839D3E7F8842EC1DE05CE6C791D;"/>
    <add key="DB_Connection_XLM_FinanceOrder" value="Data Source=192.168.1.50;Initial Catalog=XLM_FinanceOrder;User Id=SQLConnect;Password=806DD932A3959105B2CD88BAC17DA4D20DD56839D3E7F8842EC1DE05CE6C791D;"/>
    <add key="DB_Connection_XLM_Ledger" value="Data Source=192.168.1.50;Initial Catalog=XLM_Ledger;User Id=SQLConnect;Password=806DD932A3959105B2CD88BAC17DA4D20DD56839D3E7F8842EC1DE05CE6C791D;"/>
    <add key="DB_Connection_XLM_Routing" value="Data Source=192.168.1.50\sqlserver2008;Initial Catalog=XLM_Routing_helios;User Id=SQLConnect;Password=Pench2006; " />
    <add key="DB_Connection_Change_Data_Capture" value="Data Source=slblr_3pd15;Initial Catalog=XLM_Replication_veda;User Id=SQLConnect;Password=Pench2006;"/>
    <add key="DB_Connection_Replication" value="Data Source=192.168.1.50;Initial Catalog=fc_mdt;User Id=SQLConnect;Password=806DD932A3959105B2CD88BAC17DA4D20DD56839D3E7F8842EC1DE05CE6C791D;"/>
   <!--  <add key="XPOFramework_WebAPI_Host" value="http://192.168.1.50:8099/xpo/" />
    <add key="CapacityManagement_Host_Url" value="http://192.168.1.50:8099/xpo/"/>-->
    
    <add key="CapacityManagement_Host_Url" value="http://localhost:62319/xpo/"/>
    <add key="XPOFramework_WebAPI_Host" value="http://localhost:62319/xpo/" />

  </appSettings>
	<!-- ***** SYSTEM.WEB SETTINGS ***** -->
	<!-- Integrate Spring.NET with NHibernate -->
	<spring>
		<parsers>
			<parser type="Spring.Data.Config.DatabaseNamespaceParser, Spring.Data" />
			<parser type="Spring.Transaction.Config.TxNamespaceParser, Spring.Data" />
		</parsers>
		<context name="portal">
			<resource uri="assembly://Penchant.dispatchOffice.DataLayer/Penchant.dispatchOffice.DataLayer.NHibernate/NHibernateMain.xml" />
			<resource uri="assembly://Penchant.dispatchOffice.DataLayer/Penchant.dispatchOffice.DataLayer.NHibernate/NHibernateReplication.xml" />
      <resource uri="assembly://Penchant.dispatchOffice.Common/Penchant.dispatchOffice.Common/Common.xml" />
			<resource uri="assembly://Penchant.dispatchOffice.DataLayer/Penchant.dispatchOffice.DataLayer.NHibernate/Dao.xml" />
			<resource uri="assembly://Penchant.dispatchOffice.Facade/Penchant.dispatchOffice.Facade.Service/Services.xml" />

			<!-- HEL-112 : Removed Qualification Component 
      <resource uri="assembly://Component.Qualification.Contract.Service/Component.Qualification.Contract.Service/QualificationObjectDefenitions.xml" />-->

			<resource uri="assembly://Component.Driver.Contract.Service/Component.Driver.Contract.Service/DriverQualificationObjectDefenitions.xml" />
			<!-- HEL-272: We have now moved the cron jobs into a seperate windows service.  Need to comment this out the following line 
      to get rid of the cron jobs from DoWeb.  -->
			<!--resource uri="~/Config/Tasks.xml" /-->
			<!-- HEL-272: END.  -->
			<resource uri="~/Config/web.xml" />
			<resource uri="~/Config/pages.xml" />

		</context>
	</spring>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
			</dependentAssembly>

		</assemblyBinding>
	</runtime>
	<system.web>
    
		<trace enabled="true" pageOutput="false" requestLimit="100" localOnly="true" />		    
    <identity impersonate="false" userName="" password="" />   
    
		<httpRuntime executionTimeout="600" maxRequestLength="10000" />
		<sessionState mode="InProc" timeout="3600">
		</sessionState>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="Microsoft.ReportViewer.WebForms, Version=9.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="Microsoft.ReportViewer.Common, Version=9.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="Telerik.Web.UI, Version=2010.2.713.40, Culture=neutral, PublicKeyToken=121FAE78165BA3D4" />
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.WebPages.Razor, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			</assemblies>
		</compilation>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables testelopers to configure html error pages 
            to be displayed in place of a error stack trace.
    -->
		<customErrors mode="RemoteOnly" defaultRedirect="~/ErrorPages/ErrorDisplay.aspx">
			<error statusCode="404" redirect="~/ErrorPages/FileNotFound.htm" />
		</customErrors>
		<httpModules>
			<!-- *******  Register the RadUploadModule for IIS prior to v.7  ****** -->
			<add name="RadUploadModule" type="Telerik.Web.UI.RadUploadHttpModule" />
			<!-- Integrate Spring.NET with NHibernate -->
			<add name="OpenSessionInView" type="Spring.Data.NHibernate.Support.OpenSessionInViewModule, Spring.Data.NHibernate30" />
			<add name="Spring" type="Spring.Context.Support.WebSupportModule, Spring.Web" />
			<add name="DoSessionPopulatorHttpModule" type="dispatchOfficeWeb.MvcAppCode.HttpModule.DoSessionPopulatorHttpModule, dispatchOfficeWeb, Version=10.15.*, Culture=neutral" />
		</httpModules>
		<httpHandlers>
			<add verb="*" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" validate="false" />
			<add verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=9.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" validate="false" />
			<add verb="*" path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler, Telerik.Web.UI, Version=2010.2.713.40, Culture=neutral, PublicKeyToken=121fae78165ba3d4" validate="false" />
			<!-- *******  Register the RadUploadProgressHandler for IIS prior to v.7  ****** -->
			<add path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" validate="false" />
			<add verb="*" path="*.aspx" type="Spring.Web.Support.PageHandlerFactory, Spring.Web" />
		</httpHandlers>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" theme="3PD">
			<controls>
			</controls>
			<namespaces>
				<add namespace="System.Web.Helpers" />
				<add namespace="System.Web.Mvc" />
				<add namespace="System.Web.Mvc.Ajax" />
				<add namespace="System.Web.Mvc.Html" />
				<add namespace="System.Web.Routing" />
				<add namespace="System.Web.WebPages" />
				<add namespace="Telerik.Web.Mvc.UI" />
			</namespaces>
		</pages>
		<!--
      The <authentication> section enables configuration 
      of the security authentication mode used by 
      ASP.NET to identify an incoming user. 
    -->
		<authentication mode="Forms">
			<forms loginUrl="~/SignIn" timeout="20160" slidingExpiration="true" defaultUrl="~/Security/Welcome" />
		</authentication>
		<!-- Custom Membership Provider Settings -->
		<membership defaultProvider="DoWebMembershipProvider">
			<providers>
				<clear />
				<add name="DoWebMembershipProvider" type="Spring.Web.Providers.MembershipProviderAdapter, Spring.Web" />
			</providers>
		</membership>
		<!-- Custom Role Provider -->
		<roleManager defaultProvider="DoWebRoleProvider" enabled="true" cacheRolesInCookie="true">
			<providers>
				<clear />
				<add name="DoWebRoleProvider" type="Spring.Web.Providers.RoleProviderAdapter, Spring.Web" />
			</providers>
		</roleManager>
	</system.web>
	<system.net>
		<settings>
			<!--
      On production environment, when request to appian service hosted into TMW network was going out of network,
      some proxy/firewall was coming in between that do not support HTTP Header 100-Continue. To over come the 
      limitation of the old device/software we have requested service point manager to not expect support of 
      100-continue i.e. expect100Continue="false". 
      
      The setting will causes inefficienct requests in certain situation. And hence when one of these changes, 
      setting should be removed
        1. the hardware/software not supporting 100-Continue is removed from the network route
        2. we no logger going to the route which has the hardware/software that do not support 100-Continue
        
      However, we may choose to continue having it for probable performance gain.
      -->
			<servicePointManager expect100Continue="false" />      
		</settings>
		<mailSettings>
			<smtp from="donotreply@xpolastmile.com">
				<network host="exchcas.corp.wipfli.com" port="25" />
			</smtp>
		</mailSettings>
	</system.net>
	<!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
	<system.webServer>
    
      
      
    
		<httpCompression directory="%SystemDrive%\inetpub\temp\IIS Temporary Compressed Files">
			<scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" staticCompressionLevel="9" />
			<dynamicTypes>
				<add mimeType="text/*" enabled="true" />
				<add mimeType="message/*" enabled="true" />
				<add mimeType="application/x-javascript" enabled="true" />
				<add mimeType="application/json" enabled="true" />
				<add mimeType="application/json; charset=utf-8" enabled="true" />
				<add mimeType="*/*" enabled="false" />
      </dynamicTypes>
			<staticTypes>
				<add mimeType="text/*" enabled="true" />
				<add mimeType="message/*" enabled="true" />
				<add mimeType="application/x-javascript" enabled="true" />
				<add mimeType="application/javascript" enabled="true" />
				<add mimeType="application/atom+xml" enabled="true" />
				<add mimeType="application/xaml+xml" enabled="true" />
				<add mimeType="*/*" enabled="false" />
			</staticTypes>
		</httpCompression>
	  <urlCompression doStaticCompression="true" doDynamicCompression="true" dynamicCompressionBeforeCache="true" />
		<validation validateIntegratedModeConfiguration="false" />
		<modules runAllManagedModulesForAllRequests="true">
			<!-- *******  Register the RadUploadModule for IIS 7  ****** -->
			<add name="RadUploadModule" preCondition="integratedMode" type="Telerik.Web.UI.RadUploadHttpModule" />
			<!-- Integrate Spring.NET with NHibernate -->
			<add name="OpenSessionInView" type="Spring.Data.NHibernate.Support.OpenSessionInViewModule, Spring.Data.NHibernate30" />
			<add name="Spring" type="Spring.Context.Support.WebSupportModule, Spring.Web" />
			<add name="DoSessionPopulatorHttpModule" type="dispatchOfficeWeb.MvcAppCode.HttpModule.DoSessionPopulatorHttpModule, dispatchOfficeWeb, Version=10.15.*, Culture=neutral" />
		</modules>
		<handlers>
			<add name="Telerik_Web_UI_WebResource_axd" verb="*" preCondition="integratedMode" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" />
			<!-- *******  Register the RadUploadProgressHandler for IIS 7  ****** -->
			<add name="Telerik_RadUploadProgressHandler_ashx" verb="*" preCondition="integratedMode" path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" />
			<!-- BAM (2011.07.11) - Register the custom SSRS report handler for SSRS reports. -->
			<add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=9.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
			<add name="SpringPageHandler" preCondition="integratedMode" verb="*" path="*.aspx" type="Spring.Web.Support.PageHandlerFactory, Spring.Web" />
			<add name="SpringContextMonitor" verb="*" path="ContextMonitor.ashx" type="Spring.Web.Support.ContextMonitor, Spring.Web" />
		</handlers>
    <staticContent>
      <remove fileExtension=".woff" /> <!-- In case IIS already has this mime type -->
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
       <remove fileExtension=".json" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="30.00:00:00" />
    </staticContent>   
	</system.webServer>
	<telerik.web.ui>
		<radCompression enablePostbackCompression="true">
		</radCompression>
	</telerik.web.ui>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="DRRoutingServiceBindingConfig" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:30:00" sendTimeout="00:30:00" maxReceivedMessageSize="655360000" />
				<binding name="CmsServiceSoap" closeTimeout="12:00:00" openTimeout="12:00:00" receiveTimeout="12:00:00" sendTimeout="12:00:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
					<readerQuotas maxDepth="2000000000" maxStringContentLength="2000000000" maxArrayLength="2000000000" maxBytesPerRead="2000000000" maxNameTableCharCount="2000000000" />
					<security mode="None">
						<transport clientCredentialType="None" proxyCredentialType="None" realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
				<binding name="ITransactionProcessor">
					<!-- As per Cybersource help, using 2 billions - https://support.cybersource.com/cybskb/index?page=content&id=C728&actp=LIST -->
					<readerQuotas maxDepth="2000000000" maxStringContentLength="2000000000" maxArrayLength="2000000000" maxBytesPerRead="2000000000" maxNameTableCharCount="2000000000" />
					<security mode="TransportWithMessageCredential" />
				</binding>
			</basicHttpBinding>
		</bindings>
		<behaviors>
			<endpointBehaviors>
				<behavior name="DRRoutingServiceBehaviorConfig">
					<dataContractSerializer maxItemsInObjectGraph="2147483646" />
				</behavior>
			</endpointBehaviors>
		</behaviors>
		<client>
			<endpoint address="http://qa1.routetracking.com/routing/DRRoutingService.svc" binding="basicHttpBinding" bindingConfiguration="DRRoutingServiceBindingConfig" contract="DRRoutingService.IDRRoutingService" name="basicHttpBindingEndPoint" behaviorConfiguration="DRRoutingServiceBehaviorConfig" />
			<endpoint address="https://ics2ws.ic3.com/commerce/1.x/transactionProcessor" binding="basicHttpBinding" bindingConfiguration="ITransactionProcessor" contract="ITransactionProcessor" name="CyberSourceSOAPAPI" />
			<endpoint address="http://www.dev.3pdonline.com/PS.dispatchOffice.WebService/ThirdParty/CmsService.asmx" binding="basicHttpBinding" bindingConfiguration="CmsServiceSoap" contract="CMSReference.CmsServiceSoap" name="CmsServiceSoap" />
		</client>
	</system.serviceModel>
</configuration>  